*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;


}
 
body{
	background-image: url('imagenes/bande2.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		display: block;
		padding: 0px;
		margin: 0px 0px 0px 0px;
	

}

	div#particles-js{
		width: 100%;
		height: 100%;
		z-index: -100;
		top: 0;
		position: fixed;

	}
	div.contresp{
		width: 90%;
		margin: 0 auto;
		padding: 0 ;
		max-width:  1200px;
		overflow: initial;
	
			}

		header{
			background: rgba(255, 255, 255, 0.81);
			width: 100%;
			margin: 0;
			border-radius: 0px 0px 10px 10px;
			}
			header div#menubar{
		 	 	display: none;
		 	 }
			header img.logo{
				width: 30%;
				display: inline-block;
			}
			header nav{
				
				float: right;

				

			}
				header nav ul{
					list-style: none;
					float: right;
					
				}
					header nav ul li{
						position: relative;
					display: flex;
					padding: 15px;
					text-decoration: none;
					float: right;
					justify-content: center;
					align-items: center;
					z-index: 16;
					}
					header nav ul li:hover{
						border:  groove 2px white;
						margin:-2px;
						color: white;
						background: white;
						cursor: pointer;
						background:  linear-gradient(to right, rgba(189,0,44,1) 0%, rgba(143,2,34,1) 50%, rgba(109,0,25,1) 100%);
						border-radius: 0px 0px 10px 10px;		
								}
			header div.menubar{
				display: none;
				position: fixed;
			}

			header nav ul li ul#submenu{
				position: absolute;
				z-index: 10;
				background:  linear-gradient(to right, rgba(76,76,76,0.9) 0%, rgba(48,26,26,0.9) 33%, rgba(117,0,0,0.9) 100%);
				color: white;
				width: 100%;
				left: -15px;
				margin-top: 5px;
				text-align: center;
				width: 120%;
				display: none;
				border-radius:15px 0 15px 15px ;
				z-index: 15;
			}

				header nav ul li ul#submenu a {
					color: white;
				}
					header nav ul li ul#submenu li{
						text-align: center;
						width: 100%;
					}


	section#seccion1 {
		margin: 0;
		padding: 0;
		width: 100%;
		
		opacity: 1.0;

		}
			section img.imagen1 {
			width: 100%;
			margin: 0;
			padding: 0;
			display: inline-block;
			opacity: 0.9;

			}
			section.sccion2{
			z-index: 10;

			}
	section#seccionslider {
		width: 100%;
		display: block;
		position: relative;
		text-align: center;
		overflow: hidden;
		 

	}
		section#seccionslider div#slidermove {
			width: 300%;
			display: flex;
		}
		  div#slidermove section{
		  	width: 100%;
		  }

		  	div#slidermove section img{
		  		width: 100%;
		  	}
		#btn-prev, #btn-next {
		position: absolute;
		display: block;
		top: 50%;
		border-radius: 50%;
		box-shadow: inset 0 0 2px 0;
		width: 40px;
		height: 40px;
		text-align: center;
		font-weight: bold;
		font-family: monospace;
		line-height: 40px;
		cursor: pointer;
		 background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
		 box-shadow: inset 0 0 3px 3px black;
			}  


			#btn-prev:hover, #btn-next:hover{
				background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);

			}


			#btn-prev{
				left: 5px;
			}

			#btn-next{
				right: 5px;
			}

		section#seccionslider ul#slider-controls {
			position: relative;
			list-style: none;
			bottom: 20px;
			display: inline-block;

		}

			section#seccionslider ul li {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: white;
				position: relative;
				display: inline-block;


			}
			
			section#seccion2 {
				margin-bottom: 50px;
			}


			section#seccion2 div#conprim {
				width: 33%;
				margin-bottom: 50px;
				background: rgba(255, 255, 255, 0.49);
				display: inline-block;
				border-radius: 20px;

			}

				section#seccion2 div#conimage{
					width: 33%;
					
					text-align: center;
					float: left;

					
					
				}
					img#iconos{
					width: 100%;
					background: none;


						}
				
				section#seccion2 div#context{
					width: 62%;
					display: inline-block;
					float: right;
					text-align: center;

				}
						div#context h2{
							margin-top: 15px;
						}
						div#context p{
							margin-top: 25px ;
							text-align: left;
						}

		
		section#seccioncontacto
		{
			width: 450px;
			border-radius: 20px;
			background: rgba(0, 0, 0, 0.9);
			bottom: 80px;
			position: fixed;
			color: #ff0000;
			display: none;
		}
			section#seccioncontacto form{
				width: 100%;
				text-align: center;
				padding: 10px;

			}
				section#seccioncontacto form input{
					width: 90%;
					margin: 5px;
					

				}
					
			section#seccioncontacto form textarea{
				width: 90%;
			}

				#pies  {
			position: fixed;
			background: rgba(187, 50, 48, 0.61);
			bottom: 0px;		
			width: 90%;
			max-width: 1200px;
			display: block;		
			text-align: center;
		background: rgba(255, 255, 255, 0.81);
			border-radius: 10px 10px 0 0;

				}	

				#pies h2, #pies div#texuno {
					display: inline-block;
					float: left;
					width: 23%;
					padding-bottom: 5px;
					padding: 5px;
				}

				#pies div#texuno img#iconitos{
					width: 25px;



				}

				#pies div#texuno p {
					display: inline-block;
					
				}
					#pies  a{
						color: black;
					}

				









	
	@media screen and (max-width: 760px){
		
		header {
			position: fixed;
			z-index: 25;
			width: 90%;
		}

		header ul#menu{
			position: fixed;
			width: 70%;
			height: 100%;
			margin: 0;
			z-index: 30;
			background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(48,26,26,1) 33%, rgba(117,0,0,1) 100%);
			float: left;
			text-align: center;
			display: block;
			left: -100%;
			color: white;
			
		}

		 ul#menu li {
			display: block;
			width: 100%;
			border-bottom: 2px solid rgb(255,255,255);
			padding: 40px 0 40px 0;
			



		}

		header div#menubar{
			display: block;
			float: right;
			width: 30%;
			left: 0;
			font-size: 20px;
			}
			header div#menubar a{
				text-decoration: none;
			}
			header div#menubar p{
				text-decoration: none;
				float: left;
				padding-right: 10px;
				line-height: 40px;
			}

			section#seccion2 div#conprim{
					width: 100%;
					height: 300px;
					
					display: inline-block;
				}

				header nav ul li ul#submenu{
				position: relative;
				z-index: 10;
				background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(48,26,26,1) 33%, rgba(117,0,0,1) 100%);
				color: white;
				width: 100%;
				left: -15px;
				margin-top: 5px;
				text-align: center;
				
				display: none;
			}
					header nav ul li ul#submenu li{
						text-align: center;
					}
			section#seccioncontacto
		{
			width: 90%;


	}
				#pies h2, #pies div#texuno {
					
					width: 30%;
					
				}
				
				#pies div.dos img{
					display: none;
				}

				#pies div#texuno p#texto1 {
					display: none;
				}
