body {
	background-color: #FFFFFF;
	text-align: center;
	font-family: "Trebuchet MS", Tahoma, Verdana;
	font-size: 14px;
	font-weight: normal;
	color: #6F6F6F;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

a:link {
color: #0000FF;
text-decoration: none;
}

a:visited {
color: #0000FF;
text-decoration: none;
}

a:hover {
color: #0000FF;
text-decoration: underline;
}

.descdet {
    
	font-weight: normal;
	color: #6F6F6F;
	text-decoration: none;
	font-size: 14px;
}

.bordeder {
	background-color: #F2F2F2;
	width: 350;
	border: 1px dashed #D4D0C8;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
	margin-top: 16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#boton_grande input {
	left:150px;
	padding:4px 7px;
	font-size:16px;
	font-weight:bold;
	font-family: "Trebuchet MS", Tahoma, Verdana;
}

#campos input, textarea, select {
	font-family: "Trebuchet MS", Tahoma, Verdana;
	font-size: 14px;
	font-weight: normal;
	color: #6F6F6F;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D4D0C8;
	border-right-color: #A8A8A8;
	border-bottom-color: #A8A8A8;
	border-left-color: #D4D0C8;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
}

h1 {
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 6px;
}

.subder {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	font-family: "Trebuchet MS", Tahoma, Verdana;
	background-image: url(images/bgsup.gif);
	color: green;
}

#letra {font-size:14px; color: #4d4d4d; font-weight:bold}